<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	lang="cs"
>
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>Index</title>
	</head>
	<body>
		<nav th:replace="fragments/headers :: nav"></nav>
		<div><a th:href="@{/invoices/info}" class="href-no-underline dropdown-font-size">Zpět na seznam</a></div>
		<div><a th:href="@{/invoices/invoice/info?id={id}(id=${invoice.Id})}" class="href-no-underline dropdown-font-size">Zpět na informace</a></div>
		<div th:text="${message}">
		</div>
		<form th:action="@{/invoices/invoice/edit?id={id}(id=${invoice.Id})}" method="post">
			<div th:include="fragments/edit/tableEditInvoice"></div>
		</form>
	</body>
</html>

