<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	lang="cs"
>
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>Index</title>
	</head>
	<body>
		<nav th:replace="fragments/headers :: nav"></nav>
		<div><a th:href="@{/invoices/info}" class="href-no-underline dropdown-font-size">Zpět na seznam</a></div>
		<div><a th:href="@{/invoices/invoice/info?id={id}(id=${invoice.Id})}" class="href-no-underline dropdown-font-size">Zpět na informace</a></div>
		<div th:text="${message}">
		</div>
		<form th:action="@{/invoices/invoice/edit?id={id}(id=${invoice.Id})}" method="post">
			<table class="tables">
				<tr>
					<th>Číslo dokladu**:</th>
					<td><input type="text" name="documentSerialNumber" id="documentSerialNumber" th:field="${invoice.documentSerialNumber}" disabled="true"/></td>
				</tr>

				<tr>
					<th>Typ*:</th>
					<td>
						<select th:disabled="${invoice.cancelled}" th:field="*{invoice.invoiceType.code}">
							<option th:each="invoiceType : ${invoiceTypes}"
									th:value="${invoiceType.code}"
									th:utext="${invoiceType.name}"/>
						</select>
					</td>
				</tr>

				<tr>
					<th>Účetní případ*:</th>
					<td><input type="text" name="accountingCase" id="accountingCase" th:disabled="${invoice.cancelled}" th:field="${invoice.accountingCase}" required="required"/></td>
				</tr>

				<tr>
					<th>Zaúčtování MD / D*:</th>
					<td><input type="text" name="postingMDD" id="postingMDD" th:disabled="${invoice.cancelled}" th:field="${invoice.postingMDD}" required="required"/></td>
				</tr>

				<tr>
					<th>Dodavatel*:</th>
					<td>
						<select th:disabled="${invoice.cancelled}" th:field="*{invoice.supplier.Id}">
							<option th:each="contactSupplier : ${contacts}"
									th:value="${contactSupplier.Id}"
									th:utext="${contactSupplier.name}"/>
						</select>
					</td>
				</tr>

				<tr>
					<th>Odběratel*:</th>
					<td>
						<select th:disabled="${invoice.cancelled}" th:field="*{invoice.customer.Id}">
							<option th:each="contactCustomer : ${contacts}"
									th:value="${contactCustomer.Id}"
									th:utext="${contactCustomer.name}"/>
						</select>
					</td>
				</tr>

				<tr>
					<th>Datum vystavení (formát: dd.MM.yyyy)*:</th>
					<td><input type="text" name="dateExposure" id="dateExposure" th:disabled="${invoice.cancelled}" th:field="${{invoice.dateExposure}}" required="required"/></td>
				</tr>

				<tr>
					<th>Datum splatnosti (formát: dd.MM.yyyy)*:</th>
					<td><input type="text" name="dateDue" id="dateDue" th:disabled="${invoice.cancelled}" th:field="${{invoice.dateDue}}" required="required"/></td>
				</tr>

				<tr>
					<th>Datum uskutečnění plnění (formát: dd.MM.yyyy)*:</th>
					<td><input type="text" name="dateFruitionPerform" id="dateFruitionPerform" th:disabled="${invoice.cancelled}" th:field="${{invoice.dateFruitionPerform}}" required="required"/></td>
				</tr>

				<tr>
					<th>Variabilní symbol:</th>
					<td><input type="text" name="symbolVariable" id="symbolVariable" th:disabled="${invoice.cancelled}" th:field="${invoice.symbolVariable}"/></td>
				</tr>

				<tr>
					<th>Konstantní symbol:</th>
					<td><input type="text" name="symbolConstant" id="symbolConstant" th:disabled="${invoice.cancelled}" th:field="${invoice.symbolConstant}"/></td>
				</tr>

				<tr>
					<th>Stornováno:</th>
					<td>
						<div th:if="${invoice.cancelled}">
							<i class="fa fa-check-circle infos-fa-yes-no-icon-size"></i>
						</div>
						<div th:unless="${invoice.cancelled}">
							<i class="fa fa-times-circle infos-fa-yes-no-icon-size"></i>
						</div>
					</td>
				</tr>
			</table>
			<div>
				<div>Políčka označená * jsou povinná.</div>
				<div>Políčka označená ** nelze měnit.</div>
			</div>
			<div>
				<button type="submit" name="action" th:disabled="${invoice.cancelled}" value="change">Upravit</button>
			</div>
		</form>
	</body>
</html>

