<!DOCTYPE html>

<html
		xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
		lang="cs"
>
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>Informace o faktuře</title>
	</head>
	<body>
		<nav th:replace="fragments/headers :: nav"></nav>
		<h1 class="body-h1">Informace o faktuře</h1>
		<div><a th:href="@{/invoices/info}" class="href-no-underline body-a-href">Zpět na seznam</a></div>
		<br/>
		<div sec:authorize="hasAuthority('PURSER')"><a th:href="@{/invoices/invoice/edit?id={id}(id=${invoice.Id})}" class="href-no-underline body-a-href">Úprava faktury</a></div>
		<br/>
		<div th:include="fragments/info/tableInfoInvoice"></div>
		<br/>
		<div th:include="fragments/info/tableInfoListWaresInvoice"></div>
	</body>
	<br/>
</html>
