<!DOCTYPE html>

<html
		xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
		lang="cs"
>
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>Index</title>
	</head>

	<body class="body-color">
		<nav th:replace="fragments/headers :: nav"></nav>
		<h1 class="body-h1">Uživatelské údaje</h1>
		<div><a th:href="@{/user/edit}" class="href-no-underline body-a-href">Úprava údajů</a></div>
		<br/>
		<div th:include="fragments/info/tableInfoUser"></div>
	</body>
</html>
