<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	lang="cs"
>
	<head>
		<title>Změna hesla</title>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/all.min.css}">
		<div th:include="fragments/responsiveOptions"></div>
	</head>
	<body class="body-color">
	<nav th:include="fragments/headers"></nav>
		<div th:text="${message}"></div>
		<h1 class="body-h1">Změna hesla</h1>
		<br/>
		<form th:action="@{/user/password}" method="post">
			<div class="div-responsive-table" th:include="fragments/edit/tableEditPasswordUser"></div>
		</form>
	</body>
</html>
