<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	lang="cs"
>
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>Index</title>
	</head>

	<body>
		<nav th:replace="fragments/headers :: nav"></nav>
		<div th:text="${message}">
		</div>
		<form th:action="@{/user/password}" method="post">
			<table>
				<tr>
					<th>Staré heslo*:</th>
					<td><input type="password" name="oldPassword" id="oldPassword"/></td>
				</tr>
				<tr>
					<th>Nové heslo*:</th>
					<td><input type="password" name="newPassword" id="newPassword" /></td>
				</tr>
				<tr>
					<th>Potvrzení nového hesla*:</th>
					<td><input type="password" name="newPasswordConfirmation" id="newPasswordConfirmation" /></td>
				</tr>
			</table>
			<div>
				<input type="submit" value="Změnit" />
			</div>
		</form>
	</body>
</html>
