body, html {
	margin: 0px;
}

p, h1, h2, h3, div, table {
	padding-left: 10px;
	padding-right: 10px;
}
nav ul li {
	display: inline-block;
}

nav a {
	color: black;
	font-size: 2em;
	padding-right: 1em;
}

/*----------*/
/* DROPDOWN */
/*----------*/
.dropbtn {
	background-color: #8d8d8d;
	color: black;
	padding: 10px 18px 10px 16px;
	font-size: 16px;
	border: none;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: #ddd;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: #bdbdbd;
}

/*----------*/
/*   OTHERS */
/*----------*/
.title-nav {
	background-color: #8d8d8d;
	display: flex;
}
.header-nav-align {
	display: flex;
	justify-content: space-between;
	background-color: #bdbdbd;
}
.body-color {
	background-color: #efefef;
}
.header-fa-icon-size {
	font-size: 0.73em;
}
.invoice-fa-icon-size {
	font-size: 1.5em;
}
.header-font-size {
	font-size: 22px;
}
.dropdown-font-size {
	font-size: 18px;
}
.infos-fa-icon-size {
	font-size: 22px;
}
.infos-fa-yes-no-icon-size {
	font-size: 20px;
}
.href-no-underline {
	text-decoration: none;
}
.tables {
	text-align: left;
	display: block;
	border-collapse: collapse;
}
.tables-content-center {
	text-align: center;
}
.object-on-page-center {
	text-align: center;
	margin: 0px auto;
}
.multicolumn-div-column {
	float: left;
	width: 50%;
	box-sizing: border-box;
}
.multicolumn-div-row:after {
	content: "";
	display: table;
	clear: both;
}
.div-new-line {
	white-space: pre;
}
.error-message {
	color: #cc0000;
}
.body-h1 {
}
.row-header {
	/*color: white;
	background-color: #8d8d8d;*/
}
input[type=submit] {
	background-color: #8d8d8d;
	border: none;
	color: black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
input[type=submit]:hover {
	background-color: #bdbdbd;
}





