<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	lang="cs"
>
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>Informace</title>
	</head>
	<body class="body-color">
		<nav th:replace="fragments/headers :: nav"></nav>
		<h1 class="body-h1">Informace o firmě</h1>
		<p>Fusce wisi. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Nullam dapibus fermentum ipsum.
			Fusce consectetuer risus a nunc. Maecenas fermentum, sem in pharetra pellentesque, velit turpis volutpat
			ante, in pharetra metus odio a lectus. Fusce suscipit libero eget elit. Integer malesuada. Etiam dui sem,
			fermentum vitae, sagittis id, malesuada in, quam. Ut tempus purus at lorem. Aenean placerat. Etiam sapien
			elit, consequat eget, tristique non, venenatis quis, ante. Vivamus ac leo pretium faucibus. Sed elit dui,
			pellentesque a, faucibus vel, interdum nec, diam. Praesent dapibus.</p>
	</body>
</html>
