<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="cs">
	<head>
		<title>PIA Login</title>
	</head>
	<body>
		<h1>Login</h1>
		
		<p th:if="${param.error}" class="error">Wrong user or password!</p>

		<form th:action="@{/login}" method="post">
			<table>
				<tr>
					<th>Uživatelské jméno:</th>
					<td><input type="text" name="username" id="username" /></td>
				</tr>
				<tr>
					<th>Heslo:</th>
					<td><input type="password" name="password" id="password" /></td>
				</tr>
			</table>
			<div>
				<input type="submit" value="Přihlásit" />
			</div>
		</form>
	</body>
</html>
