<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	lang="cs"
>
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>Služby</title>
	</head>
	<body class="body-color">
		<nav th:replace="fragments/headers :: nav"></nav>
		<h1 class="body-h1">Nabízené služby</h1>
		<p>Praesent dapibus. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Etiam dui sem,
			fermentum vitae, sagittis id, malesuada in, quam. Nulla non lectus sed nisl molestie malesuada. Cras pede
			libero, dapibus nec, pretium sit amet, tempor quis. Morbi scelerisque luctus velit. Etiam neque. Vivamus
			luctus egestas leo. Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin
			sem purus in lacus. Maecenas ipsum velit, consectetuer eu lobortis ut, dictum at dui. Pellentesque sapien.
			Duis risus. Aenean placerat. Ut tempus purus at lorem. Maecenas libero. Aliquam ante. Vestibulum fermentum tortor id mi.
		</p>
	</body>
</html>
