<table class="tables table-info">
    <thead></thead>
    <tbody>
        <tr>
            <th>Číslo dokladu:</th>
            <td th:text="${invoice.documentSerialNumber}"></td>
        </tr>

        <tr>
            <th>Typ:</th>
            <td th:text="${invoice.invoiceType.name}"></td>
        </tr>

        <tr>
            <th>Účetní případ:</th>
            <td th:text="${invoice.accountingCase}"></td>
        </tr>

        <tr>
            <th>Zaúčtování MD / D:</th>
            <td th:text="${invoice.postingMDD}"></td>
        </tr>

        <tr>
            <th>Dodavatel:</th>
            <td th:text="${invoice.supplier.name}"></td>
        </tr>

        <tr>
            <th>Odběratel:</th>
            <td th:text="${invoice.customer.name}"></td>
        </tr>

        <tr>
            <th>Datum vystavení:</th>
            <td th:text="${{invoice.dateExposure}}"></td>
        </tr>

        <tr>
            <th>Datum splatnosti:</th>
            <td th:text="${{invoice.dateDue}}"></td>
        </tr>

        <tr>
            <th>Datum uskutečnění plnění:</th>
            <td th:text="${{invoice.dateFruitionPerform}}"></td>
        </tr>

        <tr>
            <th>Číslo účtu dodavatele:</th>
            <td th:text="${invoice.supplier.bankAccount}"></td>
        </tr>

        <tr>
            <th>Variabilní symbol:</th>
            <td th:text="${invoice.symbolVariable}"></td>
        </tr>

        <tr>
            <th>Konstantní symbol:</th>
            <td th:text="${invoice.symbolConstant}"></td>
        </tr>

        <tr>
            <th>Stornováno:</th>
            <td>
                <div th:if="${invoice.cancelled}">
                    <i class="fa fa-check-circle infos-fa-yes-no-icon-size"></i>
                </div>
                <div th:unless="${invoice.cancelled}">
                    <i class="fa fa-times-circle infos-fa-yes-no-icon-size"></i>
                </div>
            </td>
        </tr>
    </tbody>
</table>