<table class="tables table-info">
    <thead></thead>
    <tbody>
        <tr>
            <th>Jméno:</th>
            <td th:text="${contact.name}"></td>
        </tr>

        <tr>
            <th>Sídlo:</th>
            <td th:text="${contact.residence}"></td>
        </tr>

        <tr>
            <th>IČ:</th>
            <td th:text="${contact.identificationNumber}"></td>
        </tr>

        <tr>
            <th>DIČ:</th>
            <td th:text="${contact.taxIdentificationNumber}"></td>
        </tr>

        <tr>
            <th>Telefon:</th>
            <td th:text="${contact.phoneNumber}"></td>
        </tr>

        <tr>
            <th>Email:</th>
            <td th:text="${contact.email}"></td>
        </tr>

        <tr>
            <th>Číslo účtu:</th>
            <td th:text="${contact.bankAccount}"></td>
        </tr>
    </tbody>
</table>