<table id="invoices" class="object-on-page-center table-headers-as-column">
    <thead>
            <tr>
                <th>Číslo dokladu</th>
                <th>Typ</th>
                <th>Účetní případ</th>
                <th>Zaúčtování MD / D</th>
                <th>Datum vystavení</th>
                <th>Datum plnění</th>
                <th>Stornováno</th>
                <th>Info</th>
                <th sec:authorize="hasAuthority('PURSER')">Úprava</th>
                <th sec:authorize="hasAuthority('PURSER')">Storno</th>
            </tr>
    </thead>
    <tbody>
        <th:block th:each="invoice : ${invoices}">
            <tr>
                <td th:text="${invoice.documentSerialNumber}">...</td>
                <td><div th:text="${invoice.invoiceType.name}"></div></td>
                <td><div th:text="${invoice.accountingCase}"></div></td>
                <td><div th:text="${invoice.postingMDD}"></div></td>
                <td><div th:text="${invoice.dateExposure}"></div></td>
                <td><div th:text="${invoice.dateFruitionPerform}"></div></td>
                <td>
                    <div th:if="${invoice.cancelled}">
                        <i class="fa fa-check-circle infos-fa-yes-no-icon-size"></i>
                    </div>
                    <div th:unless="${invoice.cancelled}">
                        <i class="fa fa-times-circle infos-fa-yes-no-icon-size"></i>
                    </div>
                </td>
                <td><a th:href="@{/invoices/invoice/info?id={id}(id=${invoice.Id})}" class="href-no-underline">
                    <i class="fa fa-file-invoice infos-fa-icon-size"></i>
                </a></td>
                <td sec:authorize="hasAuthority('PURSER')"><a th:href="@{/invoices/invoice/edit?id={id}(id=${invoice.Id})}" class="href-no-underline">
                    <i class="fa fa-edit infos-fa-icon-size"></i>
                </a></td>
                <form sec:authorize="hasAuthority('PURSER')" th:action="@{/invoices/info}" method="post">
                    <input type="hidden" name="invoiceID" th:value="${invoice.Id}"/>
                    <td th:if="${invoice.cancelled}"><button type="submit" name="action" value="cancelInvoice">Odstornovat</button></td>
                    <td th:unless="${invoice.cancelled}"><button type="submit" name="action" value="cancelInvoice">Stornovat</button></td>
                </form>
            </tr>
        </th:block>
    </tbody>
</table>