<table class="tables tables-content-center">
    <thead>
        <tr>
            <th>Jméno</th>
            <th>Množství</th>
            <th>J.cena</th>
            <th>Sleva (%)</th>
            <th>Cena</th>
            <th>DPH (%)</th>
            <th>DPH</th>
            <th>Kč Celkem</th>
        </tr>
    </thead>
    <tbody>
        <th:block th:each="goods : ${wares}">
            <tr>
                <td th:text="${goods.name}"></td>
                <td th:text="${goods.quantity}"></td>
                <td th:text="${goods.pricePerOne}"></td>
                <td th:text="${goods.discount}"></td>
                <td th:text="${goods.priceQuantityDiscount}"></td>
                <td th:text="${goods.taxRate}"></td>
                <td th:text="${goods.dph}"></td>
                <td th:text="${goods.priceFull}"></td>
            </tr>
        </th:block>
    </tbody>
</table>