<!DOCTYPE html>

<html
		xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
		lang="cs"
>
	<head th:fragment="head(title)">
		<title th:replace="${title}">PIA ukázka</title>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/all.min.css}">
	</head>
	<body>
		<nav th:fragment="nav">
			<ul>
				<li><h1>Účetnictví PIA</h1></li>
			</ul>
			<ul>
				<!--Home button-->
				<li>
					<a th:href="@{/}"><i class="fa fa-home"></i></a>
				</li>

				<!--Unauthorized user buttons-->
				<li sec:authorize="!isAuthenticated()">
					<a th:href="@{/services}"><i class="fa fa-briefcase"></i></a>
				</li>
				<li sec:authorize="!isAuthenticated()">
					<a th:href="@{/info}"><i class="fa fa-info"></i></a>
				</li>

				<!--User buttons-->
				<li sec:authorize="isAuthenticated()">
					<a th:href="@{/user/info}"><i class="fa fa-user-circle"></i></a>
        		</li>
				<li sec:authorize="isAuthenticated()">
					<a th:href="@{/user/edit}"><i class="fa fa-user-edit"></i></a>
        		</li>

				<!--Admin buttons-->
				<li sec:authorize="hasRole('ADMIN')">
					<a th:href="@{/admin/manage}"><i class="fa fa-users-cog"></i></a>
				</li>

				<!--Purser buttons-->
				<li sec:authorize="hasRole('PURSER')">
					<a th:href="@{/invoice/info}"><i class="fa fa-file-invoice"></i></a>
				</li>
				<li sec:authorize="hasRole('PURSER')">
					<a th:href="@{/invoice/edit}"><i class="fa fa-file-contract"></i></a>
				</li>
				<li sec:authorize="hasRole('PURSER')">
					<a th:href="@{/addressbook}"><i class="fa fa-address-book"></i></a>
				</li>

				<!--Login / Logout button-->
				<li sec:authorize="!isAuthenticated()">
					<a th:href="@{/login}"><i class="fa fa-sign-in-alt"></i></a>
				</li>

				<li sec:authorize="isAuthenticated()">
					<a th:href="@{/logout}"><i class="fa fa-sign-out-alt"></i></a>
				</li>
			</ul>
		</nav>
		
		<p>Hello <span th:text="${authentication.name}"></span></p>
	</body>
</html>
