<!DOCTYPE html>

<html
		xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
		lang="cs"
>
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>Index</title>
	</head>
	<body>
		<nav th:replace="fragments/headers :: nav"></nav>
		<div th:text="${message}"></div>
		<h1 class="body-h1">Úprava údajů</h1>
		<div><a th:href="@{/admin/manage}" class="href-no-underline body-a-href">Zpět na seznam kontaktů</a></div>
		<br/>
		<div><a th:href="@{/admin/manage/user/info?id={id}(id=${user.Id})}" class="href-no-underline body-a-href">Uživatelské informace</a></div>
		<br/>
		<form th:action="@{/admin/manage/user/edit?id={id}(id=${user.Id})}" method="post">
			<div th:include="fragments/edit/tableEditUserAdmin"></div>
		</form>
	</body>
	<br/>
</html>
