<!DOCTYPE html>

<html
		xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
		lang="cs"
>
	<head>
		<title>Úprava údajů</title>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/all.min.css}">
		<div th:include="fragments/responsiveOptions"></div>
	</head>
	<body class="body-color">
		<nav th:include="fragments/headers"></nav>
		<div th:text="${message}"></div>
		<h1 class="body-h1">Úprava údajů</h1>
		<div><a th:href="@{/admin/manage}" class="href-no-underline body-a-href">Zpět na seznam kontaktů</a></div>
		<br/>
		<div><a th:href="@{/admin/manage/user/info?id={id}(id=${user.Id})}" class="href-no-underline body-a-href">Uživatelské informace</a></div>
		<br/>
		<form th:action="@{/admin/manage/user/edit?id={id}(id=${user.Id})}" method="post">
			<div class="div-responsive-table" th:include="fragments/edit/tableEditUserAdmin"></div>
		</form>
	</body>
	<br/>
</html>
