<!DOCTYPE html>

<html
		xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
		lang="cs"
>
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>Informace o uživateli</title>
	</head>

	<body>
		<nav th:replace="fragments/headers :: nav"></nav>
		<h1 class="body-h1">Informace o uživateli</h1>
		<div><a th:href="@{/admin/manage}" class="href-no-underline body-a-href">Zpět na seznam kontaktů</a></div>
		<br/>
		<div><a th:href="@{/admin/manage/user/edit?id={id}(id=${user.Id})}" class="href-no-underline body-a-href">Úprava údajů</a></div>
		<br/>
		<div th:include="fragments/info/tableInfoUser"></div>
	</body>
	<br/>
	<form th:action="@{/admin/manage/user/delete?id={id}(id=${user.Id})}" method="post">
		<input type="submit" value="Smazat kontakt" />
	</form>
	<br/>
</html>
