<!DOCTYPE html>

<html
		xmlns:th="http://www.thymeleaf.org"
		lang="cs"
>
	<head>
		<title>Seznam uživatelů</title>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/all.min.css}">
		<div th:include="fragments/responsiveOptions"></div>
	</head>
	<body class="body-color">
	<nav th:include="fragments/headers"></nav>
		<br/>
		<h1 class="body-h1 object-on-page-center">Seznam uživatelů</h1>
		<br/>
		<div class="div-responsive-table" th:include="fragments/info/tableInfoListUsers"></div>
	</body>
	<br/>
</html>
