<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	lang="cs"
>
	<head>
		<title>Vytvoření uživatele</title>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/all.min.css}">
		<div th:include="fragments/responsiveOptions"></div>
	</head>
	<body class="body-color">
	<nav th:include="fragments/headers"></nav>
		<div class="div-new-line" th:text="${message}"></div>
		<h1 class="body-h1">Vytvoření uživatele</h1>
		<br/>
		<form th:action="@{/admin/manage/user/new}" method="post">
			<div class="div-responsive-table" th:include="fragments/edit/tableEditUserAdmin"></div>
		</form>
		<br/>
	</body>
</html>
