<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	lang="cs"
>
	<head>
		<title>Změna hesla</title>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/all.min.css}">
		<div th:include="fragments/responsiveOptions"></div>
	</head>
	<body class="body-color">
	<nav th:include="fragments/headers"></nav>
		<div th:text="${message}">
		</div>
		<h2 class="body-h1">Změna hesla pro uživatele: <span th:text="${user.username}"></span>(<span th:text="${user.name}"></span>)</h2>
		<div><a th:href="@{/admin/manage}" class="href-no-underline body-a-href">Zpět na seznam kontaktů</a></div>
		<br/>
		<form th:action="@{/admin/manage/user/password?id={id}(id=${user.Id})}" method="post">
			<div class="div-responsive-table" th:include="fragments/edit/tableEditPasswordUser"></div>
		</form>
	</body>
	<br/>
</html>
