<table class="tables">
    <thead></thead>
    <tbody>
        <tr sec:authorize="!hasAuthority('ADMIN')">
            <th>Staré heslo*:</th>
            <td><input type="password" name="oldPassword" id="oldPassword"/></td>
        </tr>
        <tr>
            <th>Nové heslo*:</th>
            <td><input type="password" name="newPassword" id="newPassword" /></td>
        </tr>
        <tr sec:authorize="!hasAuthority('ADMIN')">
            <th>Potvrzení nového hesla*:</th>
            <td><input type="password" name="newPasswordConfirmation" id="newPasswordConfirmation" /></td>
        </tr>
    </tbody>
</table>
<div>
    <input type="submit" value="Změnit" />
</div>