<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	lang="cs"
>
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>Index</title>
	</head>
	<body>
		<nav th:replace="fragments/headers :: nav"></nav>
		<a th:href="@{/addressbook/info}" class="href-no-underline dropdown-font-size">Zpět na seznam</a>
		<div><a th:href="@{/addressbook/contact/info?id={id}(id=${contact.Id})}" class="href-no-underline dropdown-font-size">Zpět na informace</a></div>
		<form th:action="@{/addressbook/contact/edit?id={id}(id=${contact.Id})}" method="post">
			<div th:include="fragments/edit/tableEditContact"></div>
		</form>
	</body>
</html>
