<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	lang="cs"
>
	<head>
		<title>Úprava kontaktu</title>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/all.min.css}">
		<div th:include="fragments/responsiveOptions"></div>
	</head>
	<body class="body-color">
	<nav th:include="fragments/headers"></nav>
		<h1 class="body-h1">Úprava kontaktu</h1>
		<div><a th:href="@{/addressbook/info}" class="href-no-underline body-a-href">Zpět na seznam</a></div>
		<br/>
		<div><a th:href="@{/addressbook/contact/info?id={id}(id=${contact.Id})}" class="href-no-underline body-a-href">Zpět na informace</a></div>
		<br/>
		<form th:action="@{/addressbook/contact/edit?id={id}(id=${contact.Id})}" method="post">
			<div class="div-responsive-table" th:include="fragments/edit/tableEditContact"></div>
		</form>
	</body>
	<br/>
</html>
