<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	lang="cs"
>
	<head th:replace="fragments/headers :: head(~{::title})">
		<title>Index</title>
	</head>
	<body>
		<nav th:replace="fragments/headers :: nav"></nav>
		<div><a th:href="@{/addressbook/info}" class="href-no-underline dropdown-font-size">Zpět na seznam</a></div>
		<div><a th:href="@{/addressbook/contact/edit?id={id}(id=${contact.Id})}" class="href-no-underline dropdown-font-size">Úprava kontaktu</a></div>
		<div th:text="${message}"></div>
		<div th:include="fragments/info/tableInfoContact"></div>
		<br/>
		<form th:action="@{/addressbook/contact/info?id={id}(id=${contact.Id})}" method="post">
			<input type="submit" value="Smazat kontakt" />
		</form>
	</body>
	<br/>
</html>
