<!DOCTYPE html>

<html
	xmlns:th="http://www.thymeleaf.org"
	lang="cs"
>
	<head>
		<title>Vytvoření kontaktu</title>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}">
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/all.min.css}">
		<div th:include="fragments/responsiveOptions"></div>
	</head>
	<body class="body-color">
	<nav th:include="fragments/headers"></nav>
		<h1 class="body-h1">Vytvoření kontaktu</h1>
		<form th:action="@{/addressbook/contact/new}" method="post">
			<div class="div-responsive-table" th:include="fragments/new/tableNewContact"></div>
		</form>
	</body>
	<br/>
</html>
